# Virtual Environment
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Data (DVC will track these separately)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/raw/*.dvc
!data/processed/*.dvc

# MLflow
mlruns/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/